*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font: 18px/1.6 system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

a {
  color: #07c;
  text-decoration: none;
}

a:hover {
  color: #059;
  text-decoration: underline;
}

hr {
  border: 0;
  margin: 25px 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  padding-bottom: 25px;
}

td, th, hr {
  border-bottom: 1px solid #ddd;
}

button, select {
  background: #ddd;
  border: 0;
  padding: 9px 20px;
  font-size: 14px;
}

input, table {
  font-size: 16px;
}

input, td, th {
  padding: 5px;
  vertical-align: bottom;
}

code, pre, button:hover {
  background: #eee;
}

pre {
  padding: 8px;
  white-space: pre-wrap;
}

textarea {
  border-color: #ccc;
}

table {
  width: 100%;
}
